<!DOCTYPE html>
<html>
	<head>
	<title>Computer Jeff</title>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta description="">
	<meta name="author" content="Computer Jeff">
	<meta name="keywords" content="only 20 keywords per site, putting the 10 most important first, example keywords, another keyword, and anoter">
	<meta name="robots" content="index, follow">
	</head>


	<body>
		<div class="container">
			Computer Jeff
			
		

		</div>
	</body>
</html>