<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="Computer Jeff">
	<meta name='copyright' content="DSAC LLC">
	<meta name='language' content="english">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="only 20 keywords per site, putting the 10 most important first, example keywords, another keyword, and anoter">
	<meta name="robots" content="index, follow">

	<title>Computer Jeff</title>
	<link rel="shortcut icon" type="image/svg+xml" href="/static/images/images_dest/jwblack21-16_icon.ico">

	<link href='https://fonts.googleapis.com/css?family=Lato:300,600' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href='static/css/styles.css'>
	<!-- <link rel="stylesheet" type="text/css" href="static/dist/css/styles.min.css"> -->
	</head>


	<body>
		<div class="container">
			<header class="box">
				<div class="bars">
					<a href="#">&#9776;</a>
					<div class="logo">
						<div class="icon">&#x1f4bb;&nbsp;CJ</div>	
					</div>
				</div>
			</header>

			
		
			<h1>Virus Protection</h1>

		</div>
		<script type="text/javascript" src="static/dist/js/main.min.js" ></script>
	</body>
</html>