<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="Computer Jeff">
	<meta name='copyright' content="DSAC LLC">
	<meta name='language' content="english">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="only 20 keywords per site, putting the 10 most important first, example keywords, another keyword, and anoter">
	<meta name="robots" content="index, follow">

	<title>Computer Jeff</title>
	<link rel="shortcut icon" type="image/svg+xml" href="/static/images/images_dest/jwblack21-16_icon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,600' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href='static/css/styles.css'>
	<!-- <link rel="stylesheet" type="text/css" href="static/dist/css/styles.min.css"> -->
	</head>


	<body>
		<div class="container">
			<header>
				<a href="#">&#9776;</a>
				<div class='logo'></i>&#x1f4bb;&nbsp;&nbsp;Computer Jeff</div>
				
				<!-- <i class="fa fa-laptop"> -->
			</header>
			

			
			<section>
				<h1>Virus Protection</h1>

			</section>

			<footer>
				<div class="social">
					<ul>
						<li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
					</ul>
				</div>

				<div class="info">
					<ul>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Legal Infomation</a></li>
						<!-- <li><a href="#">Return Policy</a></li> -->
						<li><a href="#">Site Map</a></li>
					</ul>
				</div>
				<div class="copyright">
					<!-- <img src="static/images/cj2.jpg"> -->
					&#169;&nbsp;2015&nbsp;DSAC Limited Liability Company
				</div>
			</footer>

		</div>


		<script>
	      /*
	       * Open the drawer when the menu ison is clicked.
	       */
	      var menu = document.querySelector('#menu');
	      var main = document.querySelector('main');
	      var drawer = document.querySelector('.nav');
	      menu.addEventListener('click', function(e) {
	        drawer.classList.toggle('open');
	        e.stopPropagation();
	      });
	      main.addEventListener('click', function() {
	        drawer.classList.remove('open');
	      });
	    </script>
		<script type="text/javascript" src="static/dist/js/main.min.js" ></script>
	</body>
</html>