{% extends "base.html" %}
{% block title %}Computer Tune-Up{% endblock %}
{% block content %}



<section class="sales">
	<h2 class="sales__title">Computer Tune-Up</h2>
	<h4 class="sales__sub__title">Is your computers preformace lacking?  Your computer could use a tune-up to get its preformace back up to par</h4>
	<p>Computer Jeff can guantee to make your computer run faster. </p>
	<br>
	<p>Why Choose Computer Jeff?</p>
	<ol>
		<li class="sales__item">
			On-site Service - $60 per hour.  A Computer Jeff tech will come to your place. 
		</li>
		<li class="sales__item">
			No fix. No charge.  If we can't make your computer run faster then there is no charge for our service.
		</li>
		<li class="sales__item">
			Hours of Operation- Monday - Saturday 8am-7pm.  
		</li>
		<li class="sales__item">
			Quick and easy same day service. Serving -Venice -Englewood -Boca Grande and most places in-between.
		</li>
	</ol>
	<br>
	<a class="virus-removal-cta" href="#">Lets Do It!&nbsp;&nbsp;Call Now!</a>
	<br><br>


</section>

{% endblock %}