{% extends "base.html" %}
{% block description %}Official Computer Jeff website located in Englewood Florida.  Call Now! (941)585-3084. Computer Jeff's specializes in on-site computer tune-ups.{% endblock %}
{% block keywords %}computer tune-up, computer, tune-up, pctuneup, disk cleanup, computer technician, computer maintenance, speed up your computer,speed computer up{% endblock %}
{% block title %}Computer Tune-Up{% endblock %}
{% block content %}
<div class="home-page" id="top-message-box">
<div class="front-message pitch tune-up">
	<div class="sales__header">
		<h2 class="sales__title">Computer Tune-up</h2>
		<h4 class="sales__sub__title">Is your computer running slow?  It is probably in need of a tune-up.  Give Computer Jeff a call to speed up your computer.</h4>
	</div>
		<div class="black">
			<p>Call Now for a free quote!</p>
			<p>941-585-3084</p>
			<a class="virus-removal-top" href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>&nbsp;&nbsp;Lets Do It!</a>
		</div>
</div>
</div>
<section class="sales">
	<div class="list-header">
		<p>Computer Jeff's on-site computer tune-up service will speed up your computer and automate all computer maintenance that is needed to maintain the performace of your computer.</p>
	</div>
		<br>
		<p class="ol-title">Why Choose Computer Jeff?</p>
		<ol class="rounded-list">
			<li><a href="tel:+1-941-585-3084">On-site Computer Tune-Up Service - $60 per hour.  A Computer Jeff technician will come to your place. </a></li>
			<li><a href="tel:+1-941-585-3084">No fix. No charge.  If we can't fix the problem then there is no charge for our service.</a></li>
			<li><a href="tel:+1-941-585-3084">Hours of Operation- Monday - Saturday 8am-7pm.  </a></li>
			<li><a href="tel:+1-941-585-3084">Quick and easy same day service. Serving -Venice -Englewood -Boca Grande and most places in-between.</a></li>
			<li><a href="tel:+1-941-585-3084">Call Now for a free quote!  (941) 585-3084</a></li>
		</ol>
		<br>
		<a class="virus-removal-cta" href="tel:+1-941-585-3084">Call Us Now!</a>
		<br><br><br>
</section>

{% endblock %}