{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<!-- <h2>Virus Removal</h2> -->

<section class="sales">
	<h2 class="sales__title">Contact Us</h2>
	<h4 class="sales__sub__title">Give Us a call about your computer problems.</h4>
	
	<h5 class="contact">Hours of Operation</h5>
	<p class="h__o">Monday-Saturday 8am-7pm</p>

	<h5 class="contact">Call Us</h5>
	<p class="h__o">941-585-3084</p>

	<h5 class="contact">Email us</h5>
	<p class="h__o">tech@computerjeff.com</p>
	
	<h5 class="contact">Locations Serving</h5>
	<ul>
		<li>Englewood</li>
		<li>Venice</li>
		<li>Boca Grande</li>
		<li>Placida</li>
		<li>Rotonda West</li>
		<li>North Port</li>
		<li>South Venice</li>
		<li>Laurel</li>
	</ul>
</section>

{% endblock %}