{% extends "base.html" %}
{% block description %}Official Computer Jeff website located in Englewood Florida.  Call Now! (941)585-3084.{% endblock %}
{% block keywords %}computer jeff, contact us{% endblock %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<section class="sales">
	<div class="contact__header">
	<h2>Contact Us</h2>
	<h4>Give us a call about your computer problems.</h4>
	</div>
	
	<h5 class="contact">Hours of Operation</h5>
	<p class="h__o">Monday-Saturday 8am-6pm</p>

	<h5 class="contact">Call Us</h5>
	<p class="h__o"><a href="tel:1+941-585-3084">941-585-3084</a></p>

	<h5 class="contact">Email us</h5>
	<p class="h__o">tech@computerjeff.com</p>
	
	<h5 class="contact">Locations Serving</h5>
	<ul class="contact__location">
		<li>Englewood</li>
		<li>Venice</li>
		<li>Boca Grande</li>
		<li>Placida</li>
		<li>Rotonda West</li>
		<li>North Port</li>
		<li>South Venice</li>
		<li>Laurel</li>
	</ul>
</section>
{% endblock %}