{% extends "base.html" %}
{% block description %}Official Computer Jeff website located in Englewood Florida.  Call Now! (941)585-3084. Got a virus, malware, or spyware? Don't worry Computer Jeff will remove them for you.{% endblock %}
{% block keywords %}antivirus, malware, spyware, virus, computer virus, virus removal, malware removal, remove malware, remove virus, spyware removal, remove spyware, computer service,{% endblock %}
{% block title %}Computer Jeff{% endblock %}
{% block content %}

	
<div class="home-page" id="top-message-box">
	<div class="front-message" id="top-message">
			<h1>Got a Virus, Malware or Spyware? Don't worry. Computer Jeff will remove it for you.</h1>
			<div class="black">
				<p>Call Now for a free quote!</p>
				<p>941-585-3084</p>
				<a href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>
					&nbsp;&nbsp;Call Us Now!
				</a>
			</div>
	</div>
</div>
<section class="content">
	<div class="square" id="tablet">
		<div id="locations-served">
			<h2>Locations Served</h2>
			<i class="fa fa-compass fa-5x"></i>
			<p>Venice&nbsp;|&nbsp;Englewood&nbsp;|&nbsp;Boca Grande</p>
		</div>
	</div>
	<div class="square" id="tablet">
		<div id="per-hour">
			<h2>$60 an hour</h2>
			<i class="fa fa-usd fa-5x"></i>
			<p>Monday - Saturday 8am-6pm. </p>
		</div>
	</div>
	<div class="square" id="tablet">
		<div id="on-site">
			<h2>On-site service</h2>
			<i class="fa fa-car fa-5x"></i>
			<p>Fast 2 hour service</p>
		</div>
	</div>
	<div class="square" id="tablet">
		<div id="no-fix">
			<h2>No fix. No fee.</h2>
			<i class="fa fa-wrench fa-5x"></i>
			<p>Super Fast Service At Home</p>
		</div>
	</div>
</section>
{% endblock %}