{% extends "base.html" %}
{% block content %}

	
<div class="home-page" id="top-message-box">
	<div class="front-message" id="top-message">
		<div class="message">
			<h1>Got a Virus? Don't worry. Computer Jeff will remove it for you.</h1>
			<p>Call Now for a free quote!</p>
			<p>941-585-3084</p>
			<a href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>
				&nbsp;&nbsp;Call Us Now!
			</a>
		</div>
	</div>
</div>
<div class="home-page">
	<div class="front-message" id="locations">
		<h2>Locations Served</h2>
		<i class="fa fa-compass fa-5x"></i>
		<ul>
			<li>Venice</li>
			<li>Englewood</li>
			<li>Boca Grande</li>
		</ul>
	</div>
</div>
<div class="home-page">
	<div class="front-message" id="on-site">
		<h2>On-site service</h2>
		<i class="fa fa-car fa-5x"></i>
		<p>Fast 2 hour service</p>
	</div>
</div>
<div class="home-page">
	<div class="front-message" id="per-hour">
		<h2>$50 an hour</h2>
		<i class="fa fa-usd fa-5x"></i>
		<!-- <p>computer jeff only charges $50 an hour</p> -->
		<p>Same Day Service</p>
	</div>
</div>
<div class="home-page">
	<div class="front-message" id="no-fix">
		<h2>No fix. No fee.</h2>
		<i class="fa fa-wrench fa-5x"></i>
		<p>If we can't fix it we won't charge you</p>
		<!-- <p>super fast service at home</p> -->
	</div>
</div>



{% endblock %}