{% extends "base.html" %}
{% block content %}

	
<div class="home-page">
	<div class="front-message">
		<h1>Got a Virus? Don't worry. Computer Jeff will remove it for you</h1>
		<p>Call Now for a free quote!</p>
		<p>941-585-3084</p>
		<button>Call Now!</button>
	</div>
</div>
<div class="home-page">
	<div class="front-message">
		<h2>Onsite service</h2>
		<p>Fast 2 hour service</p>
	</div>
</div>
<div class="home-page">
	<div class="front-message">
		<h2>$50 an hour</h2>
		<p>computer jeff only charges $50 an hour</p>
		<p> same day service</p>
	</div>
</div>
<div class="home-page">
	<div class="front-message">
		<h2>No fix No fee</h2>
		<p>If we can't fix it we won't charge you</p>
		<p>super fast service at home</p>
	</div>
</div>



{% endblock %}