{% extends "base.html" %}
{% block title %}Pricing{% endblock %}
{% block content %}

<!-- <h2>Virus Removal</h2> -->

<section class="sales">
	<h2 class="sales__title">Computer Jeff Pricing</h2>
	<h4 class="sales__sub__title">Is your computer running slow?  You probably have a virus on your computer which is causing it to 
	work poorly.</h4>
	<p>Computer Jeff's on-site virus removal service will restore your computer's performace like new</p>
	<br>
	<p>Why Choose Computer Jeff?</p>
	<ol>
		<li class="sales__item">
			On-site Service - $60 per hour.  A Computer Jeff tech will come to your place. 
		</li>
		<li class="sales__item">
			No fix. No charge.  If we can't fix the problem then there is no charge for our service.
		</li>
		<li class="sales__item">
			Hours of Operation- Monday - Saturday 8am-7pm.  
		</li>
		<li class="sales__item">
			Quick and easy same day service. Serving -Venice -Englewood -Boca Grande and most places in-between.
		</li>
<!-- 		<li class="virus-removal-cta"><a class="virus-removal-cta" href="#">Call Now For A Free Quote!</a></li> -->
	</ol>
	<br>
	<a class="virus-removal-cta" href="#">Lets Do It!&nbsp;&nbsp;Call Now!</a>
	<br><br>
<!-- 	<h5>Hours of Operation</h5>
	<p>M-Sa 8am-7pm</p>
	<p>941-585-3084</p> -->

</section>

{% endblock %}