{% extends "base.html" %}
{% block title %}Virus Removal{% endblock %}
{% block content %}

<!-- <h2>Virus Removal</h2> -->

<section class="sales">
	<h2 class="sales__title">Virus Removal Service</h2>
	<h4 class="sales__sub__title">Is your computer running slow?  You probably have a virus on your computer which is causing it to 
	work poorly.</h4>
	<p>Computer Jeff's on-site virus removal service will restore your computer's performace like new</p>
<!-- 	<br> -->
	<p>Why Choose Computer Jeff?</p>
	<ol>
		<li class="sales__item">
			Gastropub distillery Marfa farm-to-table, Etsy Truffaut fingerstache.
		</li>
		<li class="sales__item">
			Squid lomo Kickstarter art lomo Kickstarter art party cronut scenester.
		</li>
		<li class="sales__item">
			Organic raw denim lomo Kickstarter art Vice keffiyeh four loko.
		</li>
		<li class="sales__item">
			Organic raw denim Vice keffiyeh lomo Kickstarter art lomo Kickstarter art four loko.
		</li>
<!-- 		<li class="virus-removal-cta"><a class="virus-removal-cta" href="#">Call Now For A Free Quote!</a></li> -->
	</ol>
	<br>
	<a class="virus-removal-cta" href="#">Call Now For A Free Quote!</a>

</section>

{% endblock %}