{% extends "base.html" %}
{% block description %}Official Computer Jeff website located in Englewood Florida.  Call Now! (941)585-3084. Computer Jeff specializes in on-site virus and malware removal.{% endblock %}
{% block keywords %}virus, malware, computer virus, virus removal, malware removal, remove malware, remove virus, computer service, computer technician{% endblock %}
{% block title %}Virus and Malware Removal{% endblock %}
{% block content %}
<div class="home-page" id="top-message-box">
	<div class="front-message pitch removal">
		<div class="sales__header">
			<h2 class="sales__title">Virus and Malware Removal Service</h2>
			<h4 class="sales__sub__title">Does your computer have a virus? Computer Jeff's on-site virus and malware removal service will take care of it for you.</h4>
		</div>
		<div class="black">
			<p>Call Now for a free quote!</p>
			<p>941-585-3084</p>
			<a class="virus-removal-top" href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>
				&nbsp;&nbsp;Lets Do It!</a>
		</div>
	</div>
</div>
<section class="sales">
	<div class="list-header">
		<p>Computer Jeff's on-site computer virus and malware removal service is easy to use. We will restore your computer back to the day that you bought it.</p>
	</div>
	<br>
	<p class="ol-title">Why Choose Computer Jeff?</p>
	<ol class="rounded-list">
		<li><a href="tel:+1-941-585-3084">On-site Virus and Malware Removal Service - $60 per hour.  A Computer Jeff technician will come to your place. </a></li>
		<li><a href="tel:+1-941-585-3084">No fix. No charge.  If we can't remove your computer virus then there is no charge for our service.</a></li>
		<li><a href="tel:+1-941-585-3084">Hours of Operation- Monday - Saturday 8am-6pm.  </a></li>
		<li><a href="tel:+1-941-585-3084">Quick and easy same day service. Serving -Venice -Englewood -Boca Grande and most places in-between.</a></li>
		<li><a href="tel:+1-941-585-3084">Call Now for a free quote!  (941) 585-3084</a></li>
	</ol>
	<br>
	<a class="virus-removal-cta" href="tel:+1-941-585-3084">Call Us Now!</a>
	<br><br><br>
</section>
{% endblock %}