{% extends "base.html" %}
{% block title %}Virus Removal{% endblock %}
{% block content %}

<h2>Virus Removal</h2>

<section class="news top-news">
	<h2 class="news__title">Top news <a href="#" class="news__more">+ more</a></h2>
	<ul>
		<li class="top-news__item">
			<a href="#">Gastropub distillery Marfa farm-to-table, Etsy Truffaut fingerstache.</a>
		</li>
		<li class="top-news__item">
			<a href="#">Squid lomo Kickstarter art lomo Kickstarter art party cronut scenester.</a>
		</li>
		<li class="top-news__item">
			<a href="#">Organic raw denim lomo Kickstarter art Vice keffiyeh four loko.</a>
		</li>
		<li class="top-news__item">
			<a href="#">Organic raw denim Vice keffiyeh lomo Kickstarter art lomo Kickstarter art four loko.</a>
		</li>
	</ul>
</section>

{% endblock %}