{% extends "base.html" %}
{% block title %}Virus Removal{% endblock %}
{% block content %}


<div class="home-page" id="top-message-box">
	<!-- <div class="repair computerhands"> -->
	<div class="front-message pitch removal">
		<div class="sales__header">
		<h2 class="sales__title">Virus Removal Service</h2>
		<h4 class="sales__sub__title">Is your computer running slow?  You probably have a virus on your computer which is causing it to 
			work poorly.</h4>
		</div>
		<div class="black">
			<p>Call Now for a free quote!</p>
			<p>941-585-3084</p>
			<a class="virus-removal-top" href="#"><i class="fa fa-phone"></i>
					&nbsp;&nbsp;Lets Do It!</a>
		</div>
	<!-- </div> -->
	</div>
</div>

<section class="sales">
		<p>Computer Jeff's on-site virus removal service will restore your computer's performace like new.</p>
		<!-- <br> -->
		<p>Why Choose Computer Jeff?</p>
		<ol>
			<li class="sales__item">
				On-site Service - $60 per hour.  A Computer Jeff tech will come to your place. 
			</li>
			<li class="sales__item">
				No fix. No charge.  If we can't fix the problem then there is no charge for our service.
			</li>
			<li class="sales__item">
				Hours of Operation- Monday - Saturday 8am-7pm.  
			</li>
			<li class="sales__item">
				Quick and easy same day service. Serving -Venice -Englewood -Boca Grande and most places in-between.
			</li>
			<li class="sales__item">
				Call Now for a free quote!  (941) 585-3084
			</li>
		</ol>
		<br>
		<a class="virus-removal-cta" href="#">Call Us Now!</a>
		<br><br><br>
		

</section>

{% endblock %}