body {
	font-family: 'lato', sans-serif;
	font-weight: 300;
}
.container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
 	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  	-webkit-flex-wrap: wrap; 
	flex-wrap: wrap;
}
/* tap targets */
a, button {
	min-width: 3em;
	min-height: 3em;
}
h1,h2,h3,h4 {
	font-family: 'lato', sans-serif;
	font-weight: 300;
}
header {
	width: 100%;
	background-color: red;
	padding: 8px;
	margin: 2px;
	border: 1px solid black;
}
.logo {
	/*position: relative;*/
	float: right;
	font-weight: 600;
	font-size: 1.8em;
	padding-top: 5px;
	padding-right: .2em;
	color: white;
	letter-spacing: 3px;
}
.bars a {
	font-size: 2em;
	color: white;
	text-decoration: none
}


