/*
 *
 * Common
 * 
 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  font-family: 'lato', sans-serif;
  font-size: 12px;
  color: #424242;
  /*border: 1px solid black;*/
  background-color: #D5D8DA;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 *
 * Header
 *
 */

 .locations {
  width: 100%;
  /*   border: 1px solid black; */
  text-align: center;
  font-size: 1.2em;
  background-color: #B7B5B5;
  color: rgba(253,253,253,1);
}
.locations ul li{
  display: inline-block;
  /* padding-right: 100px; */
  margin-right: 50px;
  margin-left: 10;
}
.locations ul li:last-of-type {
  margin-right: 0;
}


.header {
  width: 100%;
/*   min-width: 315px; */
  min-height: 50px;
  background: -webkit-linear-gradient(left,rgba(200,0,0,1),rgba(140,0,0,1));/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,rgba(200,0,0,1),rgba(140,0,0,1));/* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(200,0,0,1),rgba(140,0,0,1));/* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(200,0,0,1),rgba(140,0,0,1) );
  border: 1px solid rgba(0,0,0,.9);
  box-shadow: 1px 2px 2px 1px rgba(0,0,0,1);
  padding: 5px;
}

.header__inner {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:  0;
}

.logo {/*computer jeff styles*/
  position: relative;
  float: right;
  padding: 0 .5em .1em .5em;
  color: rgba(255,255,255,1);
  letter-spacing: 3px;
  font-weight: 300;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
  font-size: 2em;
  margin-right: .25em;
}
.bars {
  display: inline-block;
  position: relative;
  float: left;
  color: rgba(255,255,255,1);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4);
  padding-right: 1px;
  padding-bottom: 2.3px;
  font-size: 2em;
  margin-left: .2em;
}
/*
 *
 * Top Level Navigation
 *
 */
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  z-index: 10;
  background-color: #fff;
  width: 300px;
  position: absolute;
  -webkit-transform: translate(-600px, 0);
  transform: translate(-600px, 0);
  transition: transform 0.3s ease;
}
.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.85);
  color: white;
}
.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  color: white;
}
.nav__item {
  box-sizing: border-box;
  display: list-item;
  border-bottom: 1px solid #5d0202;
  width: 100%;
  padding: 24px 0 24px 0;
  text-transform: uppercase;
}
.nav a {
  text-decoration: none;
  color: rgba(127,127,127,1);
  padding: 1.5em;
}
.nav a:hover {
  text-decoration: underline;
  color: rgba(255,255,255,1);
}
#menu-phone {
  text-align: center;
}
#menu-phone a {
   transition: background-color 0.1s ease-out,
          color 0.1s ease-out;
  color: rgba(0,255,54,1);
  border: 1px solid rgba(0,255,54,1);
  padding: 10px;
  text-decoration: none;
}
#menu-phone a:hover {
   color: rgba(255,255,255,1);
/*   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-color: rgba(0,255,54,.9); /* fallback */
  border-color: rgba(0,255,54,.9); /* fallback */
  transition: background-color 0.1s ease-in,
        color 0.1s ease-in;
}
/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  /* width: 100%; */
  /*margin-left: auto;
  margin-right: auto;*/
  background-color: #D0CFCF;
}
.content {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-wrap: wrap; 
  flex-wrap: wrap;
}

/*
 *
 * Top News
 *
 */

.top-news {
  width: 100%;
  height: 475px;
  background-color: white;
  border: 1px solid #757575;
  box-shadow: 1px 1px 1px #757575;
  margin: 10px;
  padding: 1em;
}
.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}
.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}
.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}
.top-news__item:before {
  content: "» ";
}
.top-news__item:last-child {
  border-bottom: none;
}
.top-news__item a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}
.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}
/* footer styles */
footer {
  width: 100%;
  /*height: 100%;*/
  background: -webkit-linear-gradient(rgba(70,0,0,1), rgba(10,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradientrgba(70,0,0,1), rgba(10,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(70,0,0,1), rgba(10,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(70,0,0,1), rgba(10,0,0,1)); /* Standard syntax */
  color: rgba(200,200,200,1);
  text-align: center; 
  font-size: 1em;
  padding: 1em;
}
.copyright {
  margin-top: 1em;
}
.social {
  margin:  3.5em .1em 3.5em .1em;
}
.social ul, .info ul {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 1em;
}
.social li, .info li {
  display: inline-block;
}
.info li {
  padding-right: 1em;
}
.social li a, .info li a {
  color: rgba(200,200,200,1);
  text-decoration: none;
}
.social li a:hover, .info li a:hover {
  color: rgba(255,255,255,1);
}
.info li a:hover {
  text-decoration: underline;
}
.fa-google-plus {
  border-right: 2.5px solid rgba(128,128,128,1);
  padding-right: 1em;
}
.fa-facebook {
  padding-left: 1em;
}
/*Home Page Styles*/
/*###################*/
.home-page {
  position: relative;
  width: 100%;
  border: 3px solid rbga(0,0,0,1);
  box-shadow: 0px 3px 5px 0px rgba(3,3,3,.5);
  background-color: rgba(255,255,255,.9);
  margin: 0px 10px 10px 10px;
}
.home-page:last-of-type {
  /*margin-bottom: 10px;*/
}

.front-message {
  width: 100%;
}
#top-message-box {
  margin-top: 8px;
}
/* #top-message box styles */
#top-message {
  width: 100%;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('/static/images/laptop_c.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: bottom;
  height: 350px;
}
#top-message .message {
  text-align: center;
  position: absolute;
  color: rgba(255,255,255,1);
  margin: 0;
  bottom: 10px;
}
#top-message.front-message a {
  display: inline-block;
  width: 200px;
  /*height: 40px;*/
  padding: 10px;
  margin: auto;
  border-radius: 2%;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.1s ease-out,
          color 0.1s ease-out;
  color: rgba(0,255,54,1);
  border: 3px solid rgba(0,255,54,1);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}
#top-message.front-message a:hover,
#top-message.front-message a:active {
  color: rgba(255,255,255,1);
/*   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-color: rgba(0,255,54,.9); /* fallback */
  border-color: rgba(0,255,54,.9); /* fallback */
  transition: background-color 0.1s ease-in,
        color 0.1s ease-in;
}
.message h1 {
  font-size: 2em;
  letter-spacing: 1px;
  padding: 0 5px;
  /* margin-top: 0; */
  margin-bottom: 140px;
}
.message p {
  font-size: 1.5em;
  margin-bottom: -1px;
  margin-top: 2px;
}

/* locations box */
/* on-site service box */
/* per hour box */
/* no-fix box */
.square {
  position: relative;
  width: 100%;
  border: 3px solid rbga(0,0,0,1);
  box-shadow: 0px 3px 5px 0px rgba(3,3,3,.5);
  background-color: rgba(255,255,255,.9);
  margin: 0px 10px 10px 10px;
}
#tablet {
  text-align: center;
}
#locations-served, #on-site, 
#per-hour, #no-fix {
 
  background-color: rgba(0,0,0,.5);
}
#tablet h2 {
  color: rgba(255,255,255,1);
  padding: 15px;
  font-size: 2em;
}
#tablet i {
  color: rgb(103, 3, 3);
  padding: 10px;
  box-shadow: 1px 3px 5px 0px rgba(3,3,3,.5);
}

#tablet p {
  color: rgba(255,255,255,1);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0;
}
@media screen and (min-width: 448px) {
  .locations ul li {
    margin-right: 85px;
  }
  .message h1 {
      margin-bottom: 170px;
  }
  .nav__item {
    text-align: center;
  }
  #tablet p {
    font-size: 1.8em;
    padding: 20px;
  }
}
@media screen and (min-width: 605px) {
  #tablet {
    width: calc(50% - 20px);
  }
   #tablet p {
    font-size: 16px;
  }
  .locations ul li {
    margin-right: 140px;
  }
  
}
@media screen and (min-width: 850px) {
    body {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
    }
    a#menu.bars {
      display: none;
    }
    .logo {
      float: left;
      margin-left: .5em;
    }
}
