body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
}
body {
  font-family: 'lato', sans-serif;
  font-size: 12px;
  color: #424242;
  background-color: #D5D8DA;
}
h1, h2, h3, h4, h5 {
  margin: 0; 
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.locations {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(183, 181, 181);
  color: rgba(255,255,255,1);
}
.locations ul li{
  display: inline-block;
  margin-right: 50px;
  margin-left: 10;
}
.locations ul li:last-of-type {
  margin-right: 0;
}
.header {
  width: 100%;
  min-height: 37px;
  background: -webkit-linear-gradient(left,rgba(190,0,0,1),rgba(140,0,0,1));/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,rgba(190,0,0,1),rgba(140,0,0,1));/* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(190,0,0,1),rgba(140,0,0,1));/* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(160,0,0,1),rgba(140,0,0,1) );
  border: 1px solid rgba(0,0,0,.9);
  padding: 0px;
}
.header__inner {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:  0;
}
.logo {
  position: relative;
  float: right;
  padding: 0 .5em .1em .5em;
  color: rgba(255,255,255,1);
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 2em;
  margin-right: .25em;
}
.bars {
  display: inline-block;
  position: relative;
  float: left;
  color: rgba(255,255,255,1);
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4); */
  /* padding-right: 2px; */
  /* padding-bottom: 2.3px; */
  margin-top: 5px;
  font-size: 1.6em;
  margin-left: .2em;
}
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  background-color: rgba(255,255,255,1);
  width: 300px;
  position: absolute;
  -webkit-transform: translate(-500px, 0px);
  transform: translate(-500px, 0px);
  transition: transform 0.3s ease;
}
.nav.open {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.85);
  color: rgba(255,255,255,1);
}
.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  color: rgba(255,255,255,1);
}
.nav__item {
  box-sizing: border-box;
  display: list-item;
  border-bottom: 1px solid rgba(93,2,2,1);
  width: 100%;
  padding: 24px 0 24px 0;
  text-transform: uppercase;
}
.nav a {
  text-decoration: none;
  color: rgba(127,127,127,1);
  padding: 1.5em;
}
.nav a:hover {
  text-decoration: underline;
  color: rgba(255,255,255,1);
}
#menu-phone {
  text-align: center;
}
#menu-phone a {
 transition: background-color 0.1s ease-out,
 color 0.1s ease-out;
 color: rgba(0,255,54,1);
 border: 1px solid rgba(0,255,54,1);
 padding: 10px;
 text-decoration: none;
}
#menu-phone a:hover {
 color: rgba(255,255,255,1);
 background-color: rgba(0,255,54,.9); /* fallback */
 border-color: rgba(0,255,54,.9); /* fallback */
 transition: background-color 0.1s ease-in,
 color 0.1s ease-in;
}
main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: rgba(208,207,207,1);
}
.content {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-wrap: wrap; 
  flex-wrap: wrap;
}
footer {
  width: 100%;
  background:-webkit-linear-gradient(180deg, rgba(70,0,0,1) 20%, rgba(10,0,0,1));/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, rgba(70,0,0,1) 20%, rgba(10,0,0,1));/* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, rgba(70,0,0,1) 20%, rgba(10,0,0,1));/* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, rgba(70,0,0,1) 20%, rgba(10,0,0,1));/* Standard syntax */
  color: rgba(200,200,200,1);
  text-align: center;
  font-size: 1em;
  padding: 1em;
}
.copyright {
  margin-top: 1em;
}
.social {
  margin: 3.5em .1em 3.5em .1em;
}
.social ul, .info ul {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 1em;
}
.social li, .info li {
  display: inline-block;
}
.info li {
  padding-right: 1em;
}
.social li a, .info li a {
  color: rgba(200,200,200,1);
  text-decoration: none;
}
.social li a:hover, .info li a:hover {
  color: rgba(255,255,255,1);
}
.info li a:hover {
  text-decoration: underline;
}
.fa-google-plus {
  border-right: 2.5px solid rgba(128,128,128,1);
  padding-right: 1em;
}
.fa-facebook {
  padding-left: 1em;
}
.home-page {
  position: relative;
  width: 100%;
  border: 3px solid rbga(0,0,0,1);
  box-shadow: 0px 3px 5px 0px rgba(3,3,3,.5);
  background-color: rgba(255,255,255,.9);
  margin: 0px 10px 10px 10px;
}
.front-message {
  width: 100%;
}
#top-message-box {
  margin-top: 8px;
}
#top-message {
  width: 100%;
  height: 70vh;
  background-color: rgba(127,127,127,.8);
  background-image: 
  -webkit-linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/laptop_c-640_small.jpg');
  background-image: 
  -moz-linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/laptop_c-640_small.jpg');
  background-image: 
  -o-linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/laptop_c-640_small.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/laptop_c-640_small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.black {
  background-color: rgba(0,0,0,.5);
  padding-top: 10px;
  padding-bottom: 25px;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
#top-message.front-message a, .virus-removal-top {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: auto;
  border-radius: 2%;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.1s ease-out,
  color 0.1s ease-out;
  color: rgba(0,220,51,1);
  border: 3px solid rgba(0,220,51,1);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
}

#top-message.front-message a:hover,
#top-message.front-message a:active {
  color: rgba(255,255,255,1);
  background-color: rgba(0,220,54,.9); /* fallback */
  border-color: rgba(0,220,54,.9); /* fallback */
  transition: background-color 0.1s ease-in,
  color 0.1s ease-in;
}
.front-message h1 {
  text-align: center;
  color: rgba(255,255,255,1);
  padding: 15px;
  font-size: 2em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}
.black p {
  color: rgba(255,255,255,1);
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -1px;
  margin-top: 2px;
}
.square {
  position: relative;
  width: 100%;
  border: 3px solid rbga(0,0,0,1);
  box-shadow: 0px 3px 5px 0px rgba(3,3,3,.5);
  background-color: rgba(255,255,255,.9);
  margin: 0px 10px 10px 10px;
}
#tablet {
  text-align: center;
}
#locations-served, #on-site, 
#per-hour, #no-fix {
  background-color: rgba(0,0,0,.5);
}
#tablet h2 {
  color: rgba(255,255,255,1);
  padding: 15px;
  font-size: 2em;
}
#tablet i {
  color: rgb(103, 3, 3);
  padding: 10px;
  box-shadow: 1px 3px 5px 0px rgba(3,3,3,.5);
}
#tablet p {
  color: rgba(255,255,255,1);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0;
}
.desktop-menu {
  display: none;
}
section.sales {
  width: 100%;
  height: auto;
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(117,117,117,1);
  box-shadow: 1px 1px 1px rgba(117,117,117,1);
  margin: 0 10px 10px;
  margin-top: 0;
  padding: 1em;
}
.pitch {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.removal {
  background-color: rgba(127,127,127,.8);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-640_small.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-640_small.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-640_small.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-640_small.jpg');
}
div.repair {
  background-color: rgba(127,127,127,.8);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computer_arms-640_small.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computer_arms-640_small.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computer_arms-640_small.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)      
    ), url('/static/images/images_build/computer_arms-640_small.jpg');
}
div.tune-up {
  background-color: rgba(127,127,127,.8);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images_build/desk_grey-640_small.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images_build/desk_grey-640_small.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images_build/desk_grey-640_small.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)               
    ), url('/static/images/images_build/desk_grey-640_small.jpg');
}
div.sales__header {
  text-align: center;
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
  padding: .75em;
}
h2.sales__title {
  font-weight: 900;
  border-bottom: 1px solid rgba(224,224,224,1);
  line-height: 24px;
  font-size: 23px;
}
h4.sales__sub__title {
  margin-top: .5em;
  font-size: 1.8em;
  text-align: left;
  padding: 10px;
  letter-spacing: 1px;
}
.virus-removal-top {
  background-color: rgba(0,178,51,1);
  color: rgba(255,255,255,1);
  border: 2px solid rgba(0,178,51,1);
  text-shadow: 1px 1px 1px black;
  font-size: 1.6em;
}
a.virus-removal-top:hover {
  background-color: transparent;
  color: rgba(255,255,255,1);
  border: 2px solid rgba(0,178,51,.8);
}
.list-header {
  background-color: rgba(183,181,181,1);
  border: 1px solid rgba(153,161,161,1);
  box-shadow: 1px 1px 3px rgba(127,127,127,1);
}
.list-header p {
  font-size: 2em;
  text-align: left;
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
  margin-top: 0;
  padding: 10px;
  padding-bottom: 25px;
}
ol.rounded-list {
  counter-reset: li;/* Initiate a counter */
  list-style: none;/* Remove default numbering */*
  list-style: decimal;/* Keep using default numbering for IE6/7 */
  font-size: 16px;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
p.ol-title {
  font-size: 1.7em;
  padding-left: .5em;
  padding-bottom:0;
  border-bottom: 1px solid rgba(150,150,150,1);
  box-shadow: 1px 1px 3px rgba(150,150,150,1);
  color: rgba(150,150,150,1);
}
p.ol-title::first-letter,
.sales p::first-letter {
  font-size: 200%;
  font-weight: bold;
}
ol.rounded-list a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2.2em;*
  padding: .4em;
  margin: .5em 0;
  background: rgb(221, 221, 221);
  color: rgba(68,68,68,1);
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}
.rounded-list a:hover{
  background: rgba(238,238,238,1);
}
.rounded-list a:hover:before{
  transform: rotate(360deg);  
}
.rounded-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -0.5em;
  top: 50%;
  margin-top: -1.3em;
  background: rgb(0, 178, 51);
  color: rgba(255,255,255,1);
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .1em solid rgba(255,255,255,1);
  text-align: center;
  font-weight: bold;
  transition: all .3s ease-out;
}
.button-button {
  width: 100%;
  text-align: center;
}
a.virus-removal-cta {
  text-align: center;
  padding: 10px 25px;
  margin: 60px;
  background-color: rgba(255,255,255,0);
  color: rgba(0,178,51,1);
  border: 1px solid rgba(0,178,51,1);
  height: auto;
  font-size: 1.4em;
  font-weight: 600;
  text-decoration:none;
}
a.virus-removal-cta:hover {
  background-color: rgba(0,178,51,1);
  color: rgba(255, 255, 255,1);
  text-decoration:underline;
  transition: background-color 0.2s ease-in,
  color 0.2s ease-in;
}
.contact__header {
  text-align: center;
  width: 100%;
  background-color: rgba(183,181,181,1);
  color: rgba(255,255,255,1);
  border-bottom: 1px solid rgba(127,127,127,.7);
  box-shadow: 1px 1px 1px rgba(127,127,127,.7);
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}
.contact__header h2 {
  font-size: 2em;
}
.contact__header h4 {
  font-size: 1.7em;
}
h5.contact {
  font-size: 1.6em;
  margin-top: 25px;
  border-bottom: 1px solid rgba(127,127,127,.7);
  box-shadow: 1px 1px 1px rgba(127,127,127,.7);
  color: grey;
}
p.h__o {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-weight: 500;
  font-size: 1.4em;
}
p.h__o::first-letter{
  font-size: 100%;
  font-weight: normal;
}
ul.contact__location {
  margin: 10px 0;
  font-size: 1.4em;
}

@media screen and (min-width: 448px) {
  .locations ul li {
    margin-right: 85px;
  }
  .nav__item {
    text-align: center;
  }
  .front-message h1 {
    text-align: left;
  }
  #tablet p {
    font-size: 1.8em;
    padding: 20px;
  }
  #top-message {
    background-size: cover;
  }
}
@media screen and (min-width: 605px) {
  #tablet {
    width: calc((100% - 30px)/2);
    margin-right: 0px;
  }
  #tablet p {
    font-size: 16px;
  }
  .locations ul li {
    margin-right: 140px;
  }
  .front-message h1 {
    font-size: 2.4em;
    letter-spacing: 1.5px;
  }
  #top-message {
     background-image: 
  -webkit-linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/large-1200_large.jpg');
  background-image: 
  -moz-linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/large-1200_large.jpg');
  background-image: 
  -o-linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/large-1200_large.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)
    ), url('/static/images/images_build/large-1200_large.jpg');
  }
}
@media screen and (min-width: 850px) {
  body {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .locations {
    text-align: right;
    padding-right: 35px;
  }
  #content-desktop {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  a#menu.bars {
    display: none;
  }
  .logo {
    float: left;
    margin-left: .5em;
  }
  .header {
    width: 35%;
    background: -webkit-linear-gradient(bottom,rgba(140,0,0,1),rgba(60,0,0,1));/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom,rgba(140,0,0,1),rgba(60,0,0,1));/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(140,0,0,1),rgba(60,0,0,1));/* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,rgba(140,0,0,1),rgba(60,0,0,1) );
    margin-top: 8px;
    margin-bottom: 10px;
  }
  main {
    width: 65%;
  }
  div.removal {
  background-color: rgba(127,127,127,.8);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-1200_large.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-1200_large.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-1200_large.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computerhands-1200_large.jpg');
}
div.repair {
  background-color: rgba(127,127,127,.8);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computer_arms-1200_large.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computer_arms-1200_large.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images/images_build/computer_arms-1200_large.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)      
    ), url('/static/images/images_build/computer_arms-1200_large.jpg');
}
div.tune-up {
  background-color: rgba(127,127,127,.8);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images_build/desk_grey-1200_large.jpg');
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images_build/desk_grey-1200_large.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('/static/images_build/desk_grey-1200_large.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)               
    ), url('/static/images/images_build/desk_grey-1200_large.jpg');
}
  #locations-served p {
    padding-left: 0;
    padding-right: 0;
  }
  .nav, .nav.open {
    display: none;
  }
  .desktop-menu {
    display: block;
    padding-left: 20px;
    background-color: rgba(0,0,0,.8);
    margin: 0 5px;
    margin-top: 50px;
  }
  .desktop-menu li {
    font-size: 1.5em;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(200, 0, 0, 1);
  }
  .desktop-menu li:last-of-type {
    border-bottom: 0;
  }
  .desktop-menu a {
    color: rgba(127,127,127,1);
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .desktop-menu a:hover {
    color: rgba(255,255,255,1);
  }
  a.virus-removal-cta {
    margin: 160px;
    padding: 10px 45px;
  }
}
